.page-title {
    margin-bottom: 2rem;
    img {
      width: 13.5rem;
      height: auto;
    }
    h2 {
      display: inline-block;
      font-weight: bold;
      font-size: 3rem;
      margin-left: 1rem;
    }
  }